// Default variables.
@import 'default-variables';

// Foundation Framework.
@import './../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-menu;
@include foundation-forms;
@include foundation-reveal;
@import "mixins";
body {
  background-repeat: repeat-y;
  background-size: contain;
  position: relative;
}
#loader {
  background-color: #2d353c;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  visibility: visible;
  opacity: 1;
  transition: visibility .3s, opacity .3s;
  @include flex();
  @include flex-align(center, middle);

  img {
    width: rem-calc(100);
    height: rem-calc(100);
  }
}

@import "parallax";
@import "button";
@import "header";
@import "partner";
@import "title";
@import "authorize";
@import "user";
@import "social";
@import "singer";
@import "footer";
